@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom styles for form radio buttons */
input[type="radio"].form-radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  vertical-align: middle;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 9999px;
  border-width: 1px;
  border-color: #d1d5db; /* gray-300 */
  background-color: #e5e7eb; /* gray-200 */
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
}

input[type="radio"].form-radio:checked {
  background-color: #2563eb; /* blue-600 */
  border-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

input[type="radio"].form-radio:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px #bfdbfe; /* blue-200 */
}

input[type="radio"].form-radio:hover {
  background-color: #60a5fa; /* blue-400 */
}